@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply underline;
}

.cards-wrapper {
  @apply max-lg:w-44 w-[200px] p-2 border-2 justify-self-center;
  @media (max-width: 400px) {
    width: 140px;
  }
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000000 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #000000);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
